body {
    background-color: #d9d9d9;
    --primary-color: #1e1e1e;
    --secondary-color: #ecd264;
  }
.header{

}  
.top-left-logo{
    display:flex;
    justify-content:center;
    align-items:center;
}
.top-left-logo img{
    width:100px;
    height:auto
}
.text-logo{
    font-family: jetbrains mono;;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
}
.nav-container{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.page-title{
    margin-right: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: regular;
    font-family: jetbrains mono;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.intro{
    padding-right: 20px;
    width: 100%;

}
.intro-title{
    font-family: jetbrains mono;
    font-style: bold;
    text-align: center;
    font-size: 1.5rem;
}
.intro-subtitle{
    text-align: center;
    font-style: italic;
    font-family: jetbrains mono;
    font-size: 1.25rem;
}