body {
    background-color: #d9d9d9;
    --primary-color: #1e1e1e;
    --secondary-color: #ecd264;
  }
.header{

}  
.top-left-logo{
    display:flex;
    justify-content:center;
    align-items:center;
}
.top-left-logo img{
    width:100px;
    height:auto
}
.text-logo{
    font-family: jetbrains mono;;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}
.nav-container{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.page-title{
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: regular;
    font-family: jetbrains mono;
}
.side-menu{
    height: auto;
    width:30vh;
    padding-left: 2rem;
}
.side-menu-item{
    padding-top: 2rem;
    text-align: center;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: jetbrains mono;
}
.side-menu-button{
    width:10rem;
    background-color: #ecd264;
    border: #1e1e1e solid 2px;
    border-radius: 10px;
    color:#1e1e1e;
    padding:15px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 1.25rem;
    margin: 2px 2px;
    cursor: pointer;
}