html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #d9d9d9;
  height: 100vh;
  margin: 0;
  font-family: "Jetbrains Mono", monospace;
  --primary-color: #1e1e1e;
  --secondary-color: #ecd264;
}

.footer {
  background-color: var(--primary-color);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 2.5rem;
  width: 24rem;
}

.footer-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: rgb(0, 0, 0);
}

.footer-bottom {
  margin-top: 5rem;
}